@import "../public.scss";

header {
  display: flex;
  align-items: center;
}

.menuIcon {
  color: white;
  font-size: 26px;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  border: solid 1px $main-color;
  background-color: transparent;
  height: 25px;
  width: 100%;
  box-sizing: border-box;
  gap: 2px;
  border-bottom: solid 1px rgb(255, 255, 255, 0.5);

  .tab {
    width: 180px;
    max-width: 180px;
    border: solid 1px rgb(255, 255, 255, 0.2);
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    border-bottom: none;
    backdrop-filter: saturate(180%) blur(4px);

    .closeTab {
      cursor: pointer;
      border-radius: 50%;
      padding: 1px;
      color: rgba(255, 255, 255, 0.8);
    }

    .closeTab:hover {
      background-color: rgba(255, 255, 255, 0.3);
      cursor: pointer;
      border-radius: 50%;
      padding: 1px;
    }
  }

  .tab.active {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;

    .closeTab {
      color: rgba(0, 0, 0, 0.8);
    }

    .closeTab:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .more {
    color: white;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
  }

  .more:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
  }

  .moreItems {
    position: fixed;
    top: 70px;

    .moreItem {
      background-color: white;
      padding: 5px;
      cursor: pointer;
      font-size: 14px;
      border-bottom: solid 1px silver;
    }

    .moreItem:hover {
      background-color: whitesmoke;
      color: rgb(211, 81, 34);
    }
  }
}
