nav {
  position: fixed;
  top: 0;
  width: 280px;
  height: 100%;
  max-width: 280px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.1)
  );
  // backdrop-filter: saturate(180%) blur(4px);
  z-index: 1;
}

.searchContainer {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  align-items: center;
  padding: 11px;
  background-color: whitesmoke;

  input {
    border-radius: 15px;
    border: solid 1px silver;
    outline: none;
    height: 29px;
    width: 100%;
    padding-left: 7px;
    padding-right: 7px;
  }

  .icon {
    cursor: pointer;
    border-radius: 50%;
    padding: 1px;
  }

  .icon:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 50%;
    padding: 1px;
  }
}

.menuItem {
  display: flex;
  flex-direction: column;

  span {
    border-bottom: solid 1px rgba(255, 255, 255, 0.7);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon {
      flex-basis: 30px;
    }
  }

  span:hover {
    cursor: pointer;
    background-image: linear-gradient(
      to top,
      white,
      rgba(255, 255, 255, 0.5),
      white
    );
    color: rgb(0, 89, 255);
  }

  ul {
    padding: 0;
    margin: 0;
  }
}

.showTabs {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: solid 1px #ccc;
  background-color: whitesmoke;
  font-style: italic;
  cursor: pointer;
}

.showTabs:hover {
  color: orangered;
}
